%margin-content-center {
    margin-left: auto;
    margin-right: auto;
  }
  
  .home-main-container {
    width: 80vw;
    padding-top: 5vh;
    @extend %margin-content-center;
    .contact-container {
      width: 60%;
      display: flex;
      flex-direction: column;
      @extend %margin-content-center;
    }
  }
  