<section class="home-main-container">
  <div class="home-header">
    <h2 class="title center">Contact Us</h2>
  </div>
  <!--Table resource-->
  <div class="contact-container">
    <label class="label-input">Email: </label>
    <input type="text" class="form-control" required >

    <label class="label-input">Subject:</label>
    <input type="text" class="form-control" required >

    <label class="label-input">Message:</label>
    <textarea class="form-control"></textarea>
  </div>
</section>
